$main-font: serif;
$secondary-font: sans-serif;
$line-height: 120%;
$font-size: 16px;
$font-weight: 300;

$main-text: rgba(24, 25, 31);

$background-body: #ffffff;

$function-of-time: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;

$viewport-mobile: 375px;
$viewport-desktop: 1920px;
$pre-viewport-desktop: 1919px;
