<section class="consulting container">
    <div class="description">
        <h2 class="title-description">БЕСПЛАТНАЯ
        КОНСУЛЬТАЦИЯ</h2>
        <p class="text-description">Lorem ipsum dolor sit <span class="accent-text">amet, consectetur adipisicing elit, sed</span>  do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</p>
        <p class="text-description"><span class="accent-text">Lorem ipsum</span> dolor sit amet, consectetur adipisicing elit, sed do.</p>
        <img src="./images/image-consalt.jpg" alt="monitor" class="img-description">
    </div>

    <form class="form-blank">
        <label class="label">
            <p class="text-field">Имя<span class="need"> *</span></p>
            <input class="field" type="text" name="name" placeholder="Представьтесь,  пожалуйста" required minlength="3" maxlength="20"/>
        </label>
        <label class="label">
            <p class="text-field">Телефон<span class="need"> *</span></p>
            <input class="field" type="tel" name="telephone" placeholder="+7 (000) 000-00-00" required minlength="3" maxlength="20"/>
        </label>
        <label class="label">
            <p class="text-field">Почта</p>
            <input class="field" type="email" name="mail" placeholder="mail@domain.ru"/>
        </label>
        
        <button type="submit" class="button-form">Отправить</button>
        <p class="accept">Нажимая на кнопку «Отправить», я даю согласие на обработку персональных данных и соглашаюсь c политикой
        конфиденциальности</p>
    </form>
</section>