<footer class="footer">
    <div class="container">
       
        <ul class="list-nav-footer">
            <li class="item-nav-footer"><h3 class="title-footer">РЕШЕНИЯ</h3><ul>
                <li class="item"><a href="">Автоматизация бизнеса</a></li>
                <li class="item"><a href="">Сайты и интернет-магазины</a></li>
                <li class="item"><a href="">Индивидуальная разработка</a></li>
                <li class="item"><a href="">Готовые решения</a></li>
            </ul>
            <a href="/" class="logo-footer"><img src="./images/svg/logoForDark.svg" alt="logo"></a>
        </li>
            <li class="item-nav-footer"><h3 class="title-footer">МАГАЗИН</h3><ul>
                <li class="item"><a href="">Лицензии Битрикс24</a></li>
                <li class="item"><a href="">Лицензии 1С Битрикс</a></li>
                <li class="item"><a href="">Приложения Битрикс24</a></li>
            </ul>
        </li>
            <li class="item-nav-footer"><h3 class="title-footer">ИНФОРМАЦИЯ</h3><ul>
                <li class="item"><a href="">О компании</a></li>
                <li class="item"><a href="">Соглашение</a></li>
                <li class="item"><a href="">Блог</a></li>
                
            </ul></li>
            <li class="item-nav-footer"><ul>
                <li class="tel"><a href="tel:+7 (812) 467-35-15">+7 (812) 467-35-15</a></li>
                <li class="tel"><a href="tel:8 (800) 000-00-00">8 (800) 000-00-00</a></li>
                <li>
                    <ul class="list-social"><li class="item-social"><a><svg class="icon-social"><use href="./images/svg/sprite.svg#icon-vk"></use></svg></a></li>
                    <li class="item-social"><a><img class="icon-social inst" src="./images/svg/inst.svg" alt="inst"></a></li>
                    <li class="item-social"><a><img class="icon-social" src="./images/svg/youtube.svg" alt="youtube"></a></li>
                </ul>
                </li>
            </ul></li>
        </ul>
    </div>
</footer>