<section class="hero">
    <div class="slide-hero">
        <img src="./images/image-hero.jpg" alt="working"/>
        <div class="greeting-hero">
            <h1 class="title">НОВИНКИ 
                <br>
            <span class="minor-text">НОВОГО РЕЛИЗА</span>
</h1>
            <p class="accent-text">БИТРИКС 24</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        </div>
        <ul class="controls">
        <li class="dots"></li>
        <li class="dots active"></li>
        <li class="dots"></li></ul>
    </div>
</section>