<section class="hero">
    <div class="slide-hero">
        <img src="./images/hero-img/image-hero.jpg" alt="working-1" class="fade"/>
        <img src="./images/hero-img/matrix-matrica-krata-mira.jpg" alt="working-2" class="fade"/>
        <img src="./images/hero-img/karta-mir-kvadraty.jpg" alt="working-3" class="fade"/>
        <div class="greeting-hero">
            <h1 class="title">НОВИНКИ 
                <br>
            <span class="minor-text">НОВОГО РЕЛИЗА</span>
</h1>
            <p class="accent-text">БИТРИКС 24</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        </div>
        <div class="controls">
        <a class="dot" data-position-1=1></a>
        <a class="dot" data-position-2=2></a>
        <a class="dot" data-position-3=3></a>
    </div>
    </div>
</section>