<section class="people container">
    <div class="description-people"><h2 class="title-people">КТО ВСЕ ЭТИ ЛЮДИ
    </h2>
    <p class="text-people">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.</p> 
    <p class="text-people">Lorem ipsum dolor sit <span class="accent">amet, consectetur adipisicing elit, sed</span> do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.<span class="accent">Lorem ipsum</span> dolor sit amet,</p> 
    <p class="text-people">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
    amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor
    sit <span class="accent">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</span> et dolore magna aliqua.</p>
</div>
    <img src="./images/image-cards.jpg" alt="cards" class="img-people">
</section>