<section class="services"><ul class="services-list container">
    <li class="item-services"><h3 class="title-services">АВТОМАТИЗАЦИЯ 
        <br>
         БИЗНЕСА</h3><p class="text-services">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
</p>
<div class="line"></div>
    <button class="more-btn">УЗНАТЬ БОЛЬШЕ</button></li>
    <li class="item-services"><h3 class="title-services">САЙТЫ И <br>
    ИНТЕРНЕТ-МАГАЗИНЫ</h3><p class="text-services">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
</p>
<div class="line"></div>
    <button class="more-btn">УЗНАТЬ БОЛЬШЕ</button></li>
    <li class="item-services"><h3 class="title-services">ИНДИВИДУАЛЬНАЯ 
        <br> 
        РАЗРАБОТЫКА</h3><p class="text-services">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
</p>
<div class="line"></div>
    <button class="more-btn">УЗНАТЬ БОЛЬШЕ</button></li>
    <li class="item-services"><h3 class="title-services">ГОТОВЫЕ <br>
    РЕШЕНЕНИЯ</h3><p class="text-services">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
</p>
<div class="line"></div>
    <button class="more-btn">УЗНАТЬ БОЛЬШЕ</button></li>
</ul></section>