<section class="stats">
<div class="fon-works"></div><ul class="list-stats container">
    <li class="item-stats"><p class="total">150</p><p class="text-stats">ПРОЕКТОВ <br>
В ПОРТФОЛИО</p></li>
<li class="item-stats"><p class="total">40</p><p class="text-stats">ПРОЕКТОВ <br>
В ПОРТФОЛИО</p></li>
<li class="item-stats"><p class="total">456</p><p class="text-stats">ПРОЕКТОВ <br>
В ПОРТФОЛИО</p></li>
<li class="item-stats"><p class="total">63</p><p class="text-stats">ПРОЕКТОВ <br>
В ПОРТФОЛИО</p></li></ul></section>