<section class="works container">
    <h1 class="title-works">НАШИ РАБОТЫ</h1>
    <ul class="list-category-works">
    <li class="item-works"><button type="button" class="btn-works" data-category-all>Все</button></li>
    <li class="item-works"><button type="button" class="btn-works" data-category-1>Битрекс 24</button></li>
    <li class="item-works"><button type="button" class="btn-works" data-category-2>Сайты</button></li>
    <li class="item-works"><button type="button" class="btn-works" data-category-3>Скрипты</button></li></ul>
    <div class="slider-works fade-works">
        <img src="./images/works-img/image-furniture.jpg" class="img-works">
        <div class="view-works">
            <h2 class="title-view-works">ВНЕДРЕНИЕ <span class="accent-text">БИТРИКС24</span> В МЕБЕЛЬНУЮ КОМПАНИЮ</h2>
        </div>
        <div class="description-works">
            <p class="text-description"><span class="accent-description">Lorem ipsum dolor sit amet</span> , consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</p>
            <p class="text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p class="text-description">Уt dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. all</p>
            <button class="all-works" type="button">Все работы</button>
        </div>
    </div>
    <div class="slider-works fade-works">
         <img src="./images/works-img/image-furniture.jpg" class="img-works">
        <div class="view-works">
            <h2 class="title-view-works">ВНЕДРЕНИЕ <span class="accent-text">БИТРИКС24</span> В МЕБЕЛЬНУЮ КОМПАНИЮ</h2>
        </div>
        <div class="description-works">
            <p class="text-description"><span class="accent-description">Lorem ipsum dolor sit amet</span> , consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</p>
            <p class="text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p class="text-description">Уt dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. 1</p>
            <button class="all-works" type="button">Все работы</button>
        </div>
    </div>
    <div class="slider-works fade-works">
         <img src="./images/works-img/work-team@2x.jpg" class="img-works">
        <div class="view-works">
            <h2 class="title-view-works">ВНЕДРЕНИЕ <span class="accent-text">БИТРИКС24</span> В МЕБЕЛЬНУЮ КОМПАНИЮ</h2>
        </div>
        <div class="description-works">
            <p class="text-description"><span class="accent-description">Lorem ipsum dolor sit amet</span> , consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</p>
            <p class="text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p class="text-description">Уt dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. 2</p>
            <button class="all-works" type="button">Все работы</button>
        </div>
    </div>
    <div class="slider-works fade-works">
        <img src="./images/works-img/image-furniture.jpg" class="img-works">
        <div class="view-works">
            <h2 class="title-view-works">ВНЕДРЕНИЕ <span class="accent-text">БИТРИКС24</span> В МЕБЕЛЬНУЮ КОМПАНИЮ</h2>
        </div>
        <div class="description-works">
            <p class="text-description"><span class="accent-description">Lorem ipsum dolor sit amet</span> , consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</p>
            <p class="text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p class="text-description">Уt dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. 3</p>
            <button class="all-works" type="button">Все работы</button>
        </div>
    </div>
    <div class="controls">
        <a aria-label="prev" class="prev"><svg width="52px"
          height="52px" class="icon-controls arrow-prev"><use href="./images/svg/sprite.svg#icon-arrow" ></use></svg></a>
        <a aria-label="next" class="next"><svg width="52px"
          height="52px" class="icon-controls"><use href="./images/svg/sprite.svg#icon-arrow"></use></svg></a>
    </div>
</section>