.body-page {
  max-width: $viewport-mobile;
  background: $background-body;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $viewport-desktop) {
    max-width: $viewport-desktop;
  }
}
