.header {
  @media screen and (min-width: $viewport-desktop) {
    height: 82px;
    padding-top: 23px;
    padding-bottom: 22px;
  }
  & .content-header {
    @media screen and (min-width: $viewport-desktop) {
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  & .logo {
    @media screen and (min-width: $viewport-desktop) {
      width: 197px;
      height: 37px;
    }
  }

  & .nav {
    @media screen and (min-width: $viewport-desktop) {
      display: flex;
      align-items: center;
      margin-left: 229px;
    }
    & .item-nav {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 13px;
      transition: $transition-all;
      @media screen and (min-width: $viewport-desktop) {
        width: 190px;
        height: 17px;
      }
      &:hover .link-nav,
      &:focus-within .link-nav {
        color: $accent;
      }
    }
  }
}
