.helping {
  @media screen and (min-width: $viewport-desktop) {
    height: 290px;
  }
  .description {
    @media screen and (min-width: $viewport-desktop) {
      margin-left: 101px;
    }
  }
  .title-helping {
    margin-bottom: 35px;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    & .text-accent {
      color: $accent;
    }
  }
  .text-helping {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    & .accent {
      color: $accent;
      font-size: 18px;
      font-weight: 900;
      line-height: 18px;
    }
  }
}
