.hero {
  @media screen and (min-width: $viewport-desktop) {
    height: 516px;
    margin-bottom: 90px;
  }

  & .slide-hero {
    @media screen and (max-width: $pre-viewport-desktop) {
      height: 202px;
    }
    background: rgba(125, 125, 125, 1);
    position: relative;
  }
  & .fade {
    @media screen and (max-width: $pre-viewport-desktop) {
      object-fit: cover;
      height: 100%;
    }
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  & .greeting-hero {
    position: absolute;
    top: 0;
    @media screen and (min-width: $viewport-desktop) {
      padding-left: 324px;
      padding-top: 104px;
      padding-right: 934px;
      padding-bottom: 68px;
    }
    & .title {
      @media screen and (max-width: $pre-viewport-desktop) {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
      }
      width: 100%;
      color: $minor-text;
      font-size: 72px;
      font-weight: 900;
      line-height: 87px;
      text-align: left;
      & .minor-text {
        @media screen and (max-width: $pre-viewport-desktop) {
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
        }
        color: $minor-text;
        font-size: 54px;
        font-weight: 900;
        line-height: 65px;
        text-align: left;
      }
    }
    & .accent-text {
      @media screen and (max-width: $pre-viewport-desktop) {
        margin-top: 5px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        padding: 4px 5px;
        width: 165px;
      }
      margin-top: 15px;
      padding: 9px 33px;
      width: 329px;
      background: $accent;
      font-family: Gotham Pro;
      font-size: 24px;
      font-weight: 400;
      line-height: 27px;
      text-align: center;
      color: #070508;
    }
    & .text {
      @media screen and (max-width: $pre-viewport-desktop) {
        margin-top: 2px;
        font-size: 10px;
        font-weight: 300;
        line-height: 12px;
        padding: 3px 7px;
        width: 165px;
      }
      margin-top: 47px;
      padding-right: 88px; // * 1022px - 934px
      color: $minor-text;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
    }
  }

  & .controls {
    @media screen and (max-width: $pre-viewport-desktop) {
      margin-left: 0;
      margin-right: 0;
      right: 30%;
    }
    position: absolute;
    bottom: 26px;
    display: flex;
    margin-left: 920px;
    margin-right: 921px;
    & .dot {
      background-color: transparent;
      margin-right: 22px;
      width: 13px;
      height: 13px;
      border-radius: 100%;
      border: 2px solid #575757;
      transition: background-color 0.6m ease;
      &:last-child {
        margin-right: 0;
      }
    }
    & .active {
      background-color: $accent;
    }
  }
}
