.people {
  padding: 0;
  @media screen and (min-width: $viewport-desktop) {
    height: 310px;
  }
  & .description-people {
    & .title-people {
      @media screen and (max-width: $pre-viewport-desktop) {
        text-align: center;
        margin-bottom: 7px;
        font-weight: 700;
        font-size: 24px;
      }
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 48px;
      line-height: 120%; /* or 58px */
      color: #333333;
    }
    & .text-people {
      @media screen and (max-width: $pre-viewport-desktop) {
        text-align: center;
        margin-bottom: 7px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
      }
      margin-bottom: 7px;
      font-size: 14px;
      font-weight: 400;
      line-height: 27px;
      &:last-child {
        margin-bottom: 0;
      }
      & .accent {
        font-weight: 700;
      }
    }
  }
  & .img-people {
    @media screen and (min-width: $viewport-desktop) {
      margin-left: 40px;
    }
  }
}
