.services-list {
  @media screen and (min-width: $viewport-desktop) {
    height: 299px;
  }
  & .item-services {
    width: calc(100% / 4);
    height: 100%;
    padding-left: 39px;
    padding-right: 36px;
    padding-top: 55px;
    padding-bottom: 48px;
    background: #333333;
    color: $minor-text;
    &:nth-child(2n) {
      background: #f79900;
    }

    & .title-services {
      font-size: 18px;
      font-weight: 900;
      line-height: 22px;
      margin-bottom: 19px;
    }

    & .text-services {
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
    }
    & .line {
      margin-bottom: 20px;
      height: 1px;
      background: #ffffff;
    }
    & .more-btn {
      color: $minor-text;
      background: transparent;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
