.works {
  position: relative;
  flex-direction: column;
  @media screen and (min-width: $viewport-desktop) {
    height: 680px;
  }
  & .title-works {
    text-align: center;
    @media screen and (max-width: $pre-viewport-desktop) {
      margin-bottom: 10px;
      font-size: 26px;
      font-weight: 700;
      line-height: 30px;
    }
    @media screen and (min-width: $viewport-desktop) {
      margin-bottom: 24px;
      font-size: 48px;
      font-weight: 900;
      line-height: 58px;
    }
  }
  & .list-category-works {
    display: flex;
    justify-content: center;
  }
  & .item-works {
    @media screen and (max-width: $pre-viewport-desktop) {
      margin-right: 10px;
    }
    margin-right: 88px;
    &.active .btn-works,
    &:hover .btn-works,
    &:focus-within .btn-works {
      color: $accent;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: -10%;
        width: 125%;
        height: 5px;
        background: $accent;
        @media screen and (max-width: $pre-viewport-desktop) {
          width: 100%;
          height: 3px;
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  & .btn-works {
    @media screen and (max-width: $pre-viewport-desktop) {
      margin-bottom: 17px;
      font-size: 16px;
      line-height: 20px;
    }
    position: relative;
    padding: 0;
    margin-bottom: 37px;
    font-family: Gotham Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 700; // ! в макете написано 400, но на вид 700
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;

    background-color: transparent;
    transition: color 250ms ease;
  }

  & .slider-works {
    @media screen and (min-width: $viewport-desktop) {
      display: flex;
      justify-content: center;
      height: 574px;
    }

    & .view-works {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.54),
          rgba(0, 0, 0, 0.54)
        ),
        url(./../images/image-furniture.jpg);
      @media screen and (max-width: $pre-viewport-desktop) {
        padding-left: 29px;
        padding-top: 120px;
        padding-right: 18px;
        padding-bottom: 43px;
      }
      @media screen and (min-width: $viewport-desktop) {
        width: 574px;
        padding-left: 99px;
        padding-top: 153px;
        padding-right: 58px;
        padding-bottom: 143px;
      }
      & .title-view-works {
        color: $minor-text;
        @media screen and (max-width: $pre-viewport-desktop) {
          font-size: 22px;
          font-weight: 700;
          line-height: 26px;
        }
        @media screen and (min-width: $viewport-desktop) {
          font-size: 48px;
          font-weight: 900;
          line-height: 56px;
        }
        & .accent-text {
          color: $accent;
        }
      }
    }
    & .description-works {
      position: relative;
      @media screen and (max-width: $pre-viewport-desktop) {
        margin-left: 8px;
        padding-left: 15px;
        padding-top: 5px;
        padding-right: 8px;
        padding-bottom: 7px;
        border: 3px solid rgba(247, 153, 0, 1);
      }
      @media screen and (min-width: $viewport-desktop) {
        margin-left: 38px;
        padding-left: 55px;
        padding-top: 99px;
        padding-right: 88px;
        padding-bottom: 267px;
        width: 574px;

        border: 15px solid rgba(247, 153, 0, 1);
      }
      & .text-description {
        margin-bottom: 17px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        & .accent-description {
          font-weight: 700;
          line-height: 20px;
        }
      }
      & .all-works {
        @media screen and (max-width: $pre-viewport-desktop) {
          bottom: -2px;
          right: -3px;
          padding: 1px;
        }
        position: absolute;
        bottom: -6px;
        right: -1px;
        padding-left: 46px;
        padding-top: 24px;
        padding-right: 25px;
        padding-bottom: 17px;

        background-color: rgba(247, 153, 0, 1);
        font-family: Gotham Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: $minor-text;
        transition: color 250ms ease;

        &:hover,
        &:focus-within {
          color: $main-text;
        }
      }
    }
  }

  & .controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 125px;
    @media screen and (max-width: $pre-viewport-desktop) {
      bottom: 20%;
      left: 10%;
    }
    @media screen and (min-width: $viewport-desktop) {
      bottom: 70px;
      right: 379px;
      height: 52px;
    }
    & .arrow-prev {
      transform: rotate(180deg);
    }
    & .icon-controls {
      &:hover {
        --color5: rgb(242, 163, 34);
      }
    }
  }

  & .fade-works {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade-works {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
